:root {
    --dynamic-color-primary: #6200EE;
    --dynamic-color-secondary: #03DAC6;
    --dynamic-color-background: #F5F5F5;
    --dynamic-color-surface: #FFFFFF;
    --dynamic-color-on-primary: #FFFFFF;
    --dynamic-color-on-secondary: #000000;
    --dynamic-color-on-background: #000000;
    --dynamic-color-on-surface: #000000;
    --dynamic-color-danger: #FF0000;
}

body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    font-family: 'Google Sans', sans-serif;
    background-color: var(--dynamic-color-background);
    color: var(--dynamic-color-on-background);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    transition: background-image 0.5s ease, background-color 0.5s ease;
}

body.light-theme {
    --dynamic-color-background: #F5F5F5;
    --dynamic-color-on-background: #000000;
    --dynamic-color-surface: #FFFFFF;
    --dynamic-color-on-surface: #000000;
    --dynamic-color-on-primary: #FFFFFF;
    --dynamic-color-on-secondary: #000000;
}

body.dark-theme {
    --dynamic-color-background: #333333;
    --dynamic-color-on-background: #FFFFFF;
    --dynamic-color-surface: #444444;
    --dynamic-color-on-surface: #FFFFFF;
    --dynamic-color-on-primary: #FFFFFF;
    --dynamic-color-on-secondary: #FFFFFF;
}

body.oled-theme {
    --dynamic-color-background: #000000;
    --dynamic-color-on-background: #FFFFFF;
    --dynamic-color-surface: #111111;
    --dynamic-color-on-surface: #FFFFFF;
    --dynamic-color-on-primary: #FFFFFF;
    --dynamic-color-on-secondary: #FFFFFF;
}

.modal {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    justify-content: center;
    align-items: center;
    z-index: 1000;
}

.modal-content {
    background-color: var(--dynamic-color-surface);
    padding: 20px;
    border-radius: 16px;
    width: 400px; /* 固定模态窗口的宽度为400px */
    box-sizing: border-box; /* 确保内边距和边框不会增加宽度 */
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
    overflow-x: hidden; /* 隐藏水平滚动条 */
}

.modal-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-bottom: 10px;
    border-bottom: 1px solid #ddd;
}

.modal-header h2 {
    margin: 0;
    font-size: 18px;
    color: var(--dynamic-color-on-primary);
}

.modal-body {
    padding-top: 10px;
    max-height: 60vh; /* 高度调整 */
    overflow-y: auto; /* 启用内部垂直滚动条 */
    overflow-x: hidden; /* 隐藏水平滚动条 */
}

.menu-section {
    margin-bottom: 20px;
}

.menu-section h3 {
    margin-bottom: 10px;
    font-size: 16px;
}

.menu-section button {
    width: calc(100% - 20px); /* 与输入框保持一致宽度 */
    padding: 10px;
    margin-bottom: 10px;
    background-color: var(--dynamic-color-secondary);
    color: var(--dynamic-color-on-secondary);
    border: none;
    border-radius: 8px;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s, color 0.3s;
    box-sizing: border-box; /* 包括边框和内边距在内的宽度计算 */
}

.menu-section button.active {
    background-color: var(--dynamic-color-primary);
    color: var(--dynamic-color-on-primary);
}

.input-group {
    margin-bottom: 10px;
}

.input-group label {
    display: block;
    margin-bottom: 5px;
    font-size: 14px;
    color: var(--dynamic-color-on-surface);
}

.input-group input.text-field {
    width: calc(100% - 20px); /* 与按钮保持一致宽度 */
    padding: 10px;
    border: 1px solid var(--dynamic-color-secondary);
    border-radius: 8px;
    font-size: 16px;
    outline: none;
    box-sizing: border-box; /* 包括边框和内边距在内的宽度计算 */
}

.close-button {
    font-size: 24px;
    cursor: pointer;
    color: var(--dynamic-color-danger);
}

.upload-input {
    display: none;
}

.search-container {
    display: flex;
    align-items: center;
    background-color: var(--dynamic-color-surface);
    border-radius: 28px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    padding: 10px;
    width: 300px; /* 将默认搜索框长度设置为300px */
    position: relative;
    left: 0px;
    top: 0px;
    box-sizing: border-box; /* 确保内边距和边框不会增加宽度 */
}

.search-box {
    border: none;
    outline: none;
    font-size: 16px;
    flex-grow: 1;
    margin-right: 10px;
    background-color: inherit;
    color: inherit;
    box-sizing: border-box; /* 确保宽度计算正确 */
}

.search-button {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--dynamic-color-secondary);
    color: var(--dynamic-color-on-secondary);
    border: none;
    border-radius: 50%;
    width: 40px;
    height: 40px;
    cursor: pointer;
    font-size: 24px;
    transition: background-color 0.3s, color 0.3s;
}

.search-button span {
    color: var(--dynamic-color-on-secondary);
}

.search-button:hover {
    background-color: var(--dynamic-color-primary);
    color: var(--dynamic-color-on-primary);
}

.engine-button {
    position: fixed;
    right: 20px;
    bottom: 20px;
    background-color: var(--dynamic-color-secondary);
    color: var(--dynamic-color-on-secondary);
    border: none;
    border-radius: 50%;
    width: 50px;
    height: 50px;
    font-size: 24px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    transition: background-color 0.3s, color 0.3s;
}

.engine-button span {
    color: var(--dynamic-color-on-secondary);
}

.engine-button:hover {
    background-color: var(--dynamic-color-primary);
    color: var(--dynamic-color-on-primary);
}

.ie-warning {
    display: none;
    color: white;
    background-color: var(--dynamic-color-danger);
    padding: 10px;
    margin-top: 20px;
    border-radius: 5px;
    font-size: 14px;
}
